body {
    font-family: 'Raleway', sans-serif;
}
.container-fluid {
  background-color:#70bfff;;
  min-height: 1200px;
  width: 100%;
  padding: 5% 8% 8% 13%;
}
.row__main {
  width: 100%;
  min-height: auto;
}
.col--left {
padding-top: 50px;
}
.icon {
 
  border-left: solid grey 2px;
  height: 5rem;
  padding-left: 15px;
}
.row__small {
    width: 50%;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    min-height: 100px;
 text-align: center;
 justify-content: center;

}
.text {
color: #262626;
font-size: 20px;
font-weight: 700;
line-height: 27px;
 padding-top: 20px;
}
.col--big {  
background: url(img/Tomato.png) no-repeat;
 background-position: center;
color: #ffffff;
font-size: 90px;
padding: 0;
}
